img.resize {
    width:200px;
    height:40px;
  }

  .img-fluid {
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .col-6:hover .img-fluid {
    opacity: 0.0;
  }
  
  .col-6:hover .middle {
    opacity: 8;
  }

  .text {
    font-size: 22px;
    color: #fff;
    
  }

  body {
    background-color: lightblue;
    } 
    .img-fluid {
      max-width: 100%;
      height: auto;
      height: 225px;
  }
  img {
      width: 300px;
      height: 225px;
      border: 2px solid rgb(128, 128, 128);
  }
    
    body {
      font-family: 'Oswald', sans-serif;
    }

    #heading, #yayWords {
      text-align: center;
    }


    #heading {
      font-family: 'Pacifico', cursive;
      font-size: 3em;
      letter-spacing: 3px;
    }

  
   